.body-background {
    background-image: url("../Images/IMG_Background.jpg");
}

.validator {
    font-size: 14px;
    color: red;
    text-align: left;
}

input[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: inherit !important;
    pointer-events: all !important;
    opacity: 100 !important;
}

.md-form {
    position: relative;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.panelheader {
    padding-top: 10px;
    height: 80px;
    border-bottom: solid #eee 2px;
}

.panelmenu {
    max-width: initial;
    flex: initial;
    height: 100%;
    position: fixed;
    z-index: 2;
    padding: 0px 0px 80px 0px;
    border-right: solid 2px #eee;
    display: initial;
    width: 100%;
    visibility: hidden;
}

.panelcontent {
    position: fixed;
    z-index: 1;
    height: 100%;
    padding: 13px 10px 90px 23px;
}

.panelfooter {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    margin: 0;
    background-color: white;
    padding: 14px 0px 0px 30px;
}

.panelauthentication {
    display: none;
}

.panelauthenticationmobile {
    display: initial;
}

.hovermenu:hover {
    background-color: #F3F3F3;
}

.menuapp {
    text-decoration: none !important;
    padding: 0;
    margin: 0;
    font-size: 17px;
    text-transform: initial;
}

.iconmenu {
    margin: 15px 15px 0px 10px;
}

.iconclose {
    margin: 15px 21px 0px 10px;
}

.btn-rounded {
    border-radius: 10em;
}

.form-cari {
    border: solid 1px #CCC !important;
    border-radius: 10em !important;
    height: 25px !important;
    margin-top: 6px !important;
}

.scrollstyle::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.scrollstyle::-webkit-scrollbar {
    border-radius: 10px;
    width: 7px;
    height: 7px;
    background-color: #000000;
}

.scrollstyle::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #DDD;
}

.scrollstyleHidden::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

.scrollstyleHidden::-webkit-scrollbar {
    border-radius: 10px;
    width: 7px;
    height: 7px;
    background-color: #000000;
    display: none;
}

.scrollstyleHidden::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #DDD;
}

.header-ys {
    text-align: center;
    background-color: #4285f4 !important;
    color: white;
}

.row-ys td {
    padding: 10px !important;
}

.pagination-ys {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys tr {
        background-color: transparent !important;
    }

    .pagination-ys table > tbody > tr > td {
        display: inline;
        border: none;
    }

        .pagination-ys table > tbody > tr > td > a, .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #333;
            background-color: #fff;
            border: 1px solid #ddd;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: white;
            background-color: #4285f4;
            border-color: #ddd;
            cursor: default;
        }

        .pagination-ys table > tbody > tr > td:first-child > a, .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a, .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:focus, .pagination-ys table > tbody > tr > td > a:hover, .pagination-ys table > tbody > tr > td > span:focus, .pagination-ys table > tbody > tr > td > span:hover {
            color: #333;
            background-color: #eee;
            border-color: #ddd;
        }

.buttonradio {
    padding: 8px;
    height: 35px;
    margin: 0;
}

.chip {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    background-color: #eceff1;
    border-radius: 16px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin: 0px 2px;
}

.close {
    float: right;
    padding-left: 8px;
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.contentReimburse {
    position: fixed;
    height: 58px;
    width: 100%;
    bottom: 0;
    background-color: white;
    left: 0;
    padding-top: 16px;
    font-weight: bold;
    color: red;
    z-index: 10;
    font-size: 18px;
    text-align: center;
}

.hidden {
    display: none;
}

.headercard {
    width: 100%;
    padding: 7px 20px;
    background-color: #EEE;
    font-weight: bold;
    border-radius: 5px;
}

.shortcut {
    height: 100px;
    width: 100%;
    background-color: white;
    color: black;
    padding: 19px;
    cursor: pointer;
    border-radius: 5px;
    border-left: 5px solid #4285f4;
}

.infopool {
    text-align: center;
    padding: 0px !important;
    font-size: 13px;
    vertical-align: middle;
    background-color: #EEE;
    font-weight: bold;
}

.alertruangan {
    height: 87px !important;
}

.custommargin {
    margin-top: 10px;
}

@media screen and (min-width: 1000px) {
	.body-background {
		background-image: url("../Images/IMG_Background.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
	}
	
    .panelmenu {
        display: initial;
        width: 250px;
        visibility: visible;
    }

    .panelcontentweb {
        padding: 15px 10px 90px 270px;
    }

    .panelauthentication {
        line-height: 1.3em;
        margin: 9px 15px 0px 0px;
        text-align: right;
        display: initial;
        float: right;
    }

    .panelauthenticationmobile {
        display: none;
    }

    .iconmenu {
        margin: 15px 15px 0px -43px;
    }

    .iconclose {
        margin: 15px 21px 0px -43px;
    }

    .contentReimburse {
        padding-left: 270px;
    }

    .alertruangan {
        height: 67px !important;
    }

    .custommargin {
        margin-top: 30px;
    }
}
